In [1]:
import pandas as pd

In [2]:
confirm_all = pd.read_csv("US-Case-all.csv")
confirm_all

,id,linked_county,state_name,county,2020-01-21,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,...,2020-04-05,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14
0,1469,NY-New York,NY,New York,0,0,0,0,0,0,...,67551,72181,76876,81803,87028,94409,98715,104410,106763,110465
1,1468,NY-Nassau,NY,Nassau,0,0,0,0,0,0,...,14398,15616,16610,18548,20140,21512,22584,23553,24358,25250
2,1488,NY-Suffolk,NY,Suffolk,0,0,0,0,0,0,...,13129,14185,15561,17008,18803,18803,20321,20934,22040,23019
3,1497,NY-Westchester,NY,Westchester,0,0,0,0,0,0,...,13723,14294,14804,15887,17004,18077,18729,19313,19786,20191
4,579,IL-Cook,IL,Cook,0,0,0,1,1,1,...,8034,8728,9509,10520,11415,12472,13417,14585,15474,16323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2785,2928,KY-Casey,KY,Casey,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2786,2929,KY-Garrard,KY,Garrard,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2787,2930,KY-Livingston,KY,Livingston,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2788,2934,WV-Lincoln,WV,Lincoln,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2789,2935,NE-Saline,NE,Saline,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
纽约州的疫情变化

In [10]:
state = confirm_all[confirm_all['state_name'] == 'NY']
row = state.drop(['id','linked_county','state_name','county'], axis=1, inplace=False)
rowsum = row.sum()
rowsum

2020-01-21         0
2020-01-22         0
2020-01-23         0
2020-01-24         0
2020-01-25         0
               ...
2020-04-10    172972
2020-04-11    181825
2020-04-12    190288
2020-04-13    196146
2020-04-14    203377
Length: 85, dtype: int64

In [ ]:
3月1日，纽约州第一例，来自境外输入
https://web.archive.org/web/20200303050256/https://www.wsj.com/articles/first-case-of-coronavirus-confirmed-in-new-york-state-11583111692

In [ ]:
在3月1日前，疫情主要集中在CA和WA, 以境外输入病例为主，以及钻石公主号上的游客和从中国回来的撤侨

In [36]:
%%HTML
<div class='tableauPlaceholder' id='viz1587096617645' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;ConfirmedCaseBefore3_1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CA_15869272881740&#47;ConfirmedCaseBefore3_1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;ConfirmedCaseBefore3_1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1587096617645');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [ ]:
3月4日，第二例，来自Westchester County，直接感染了十几人
https://www.nbcnewyork.com/news/local/more-cases-of-coronavirus-expected-as-ny-plans-to-expand-testing-ability/2314911/

In [ ]:
3月7日，纽约州长宣布进入紧急状态, 确诊人数已经91人

In [ ]:
（做3月7日纽约county列表，state_pre选Westchester County）

In [ ]:
3月20日，纽约州长宣布stay-at-home order
(3月20日，state_pre选纽约）

In [58]:
url = 'https://github.com/COVIDExposureIndices/COVIDExposureIndices/blob/master/lex_data/state_lex_2020-03-20.csv?raw=true'
df = pd.read_csv(url)
df = df[df['STATE_PRE'] == "NY"]
df = df.drop(['STATE_PRE'], axis=1, inplace=False)
df.sort_values(by=34, ascending=False, axis=1)

,NY,NJ,CT,VT,PA,ME,RI,MA,NH,DE,...,AZ,CO,ND,HI,TX,CA,NV,LA,WA,AK
34,0.988439,0.156485,0.132871,0.126261,0.049849,0.03866,0.036839,0.035437,0.033622,0.027795,...,0.003678,0.003529,0.003418,0.00341,0.003399,0.003114,0.002951,0.002853,0.002831,0.001847

In [ ]:
从3月7日到20日，这期间纽约确诊人数

In [12]:
rowsum["2020-03-07":"2020-03-20"]

2020-03-07      91
2020-03-08     110
2020-03-09     144
2020-03-10     178
2020-03-11     218
2020-03-12     327
2020-03-13     423
2020-03-14     617
2020-03-15     748
2020-03-16     971
2020-03-17    1409
2020-03-18    2556
2020-03-19    5699
2020-03-20    8530
dtype: int64

In [17]:
(rowsum["2020-03-20"]/rowsum["2020-03-07"]-1)*100

9273.626373626374

In [ ]:
增长了9273%

In [108]:
%%HTML
<div class='tableauPlaceholder' id='viz1587101915048' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;ConfirmedCaseinMarch&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CA_15869272881740&#47;ConfirmedCaseinMarch' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;ConfirmedCaseinMarch&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1587101915048');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [ ]:
病毒在东海岸的爆发已不可挽回

In [ ]:
url = 'https://raw.githubusercontent.com/COVIDExposureIndices/COVIDExposureIndices/master/dex_data/state_dex.csv'
df = pd.read_csv(url)
df

In [59]:
%%HTML
<div class='tableauPlaceholder' id='viz1587098554322' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;NY_Devices_Num&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CA_15869272881740&#47;NY_Devices_Num' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;NY_Devices_Num&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1587098554322');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [ ]:
df_NY = df[df['state'] == 'NY']
df_NY

In [ ]:
df.loc[2626:2670,['date','state','num_devices']]

In [ ]:
# 2/23 - 3/7
a = df.loc[2626:2639,['num_devices']]
# 3/7 - 3/20
b = df.loc[2639:2652,['num_devices']]
# 3/20 - 4/02
c = df.loc[2652:2665,['num_devices']]

In [88]:
ma = pd.DataFrame.mean(a)
ma

num_devices    989025.785714
dtype: float64

In [89]:
mb = pd.DataFrame.mean(b)
mb

num_devices    902286.714286
dtype: float64

In [90]:
mc = pd.DataFrame.mean(c)
mc

num_devices    825077.571429
dtype: float64

In [93]:
(1-mb/ma)*100

num_devices    8.770153
dtype: float64

In [94]:
(1-mc/mb)*100

num_devices    8.557052
dtype: float64

In [ ]:
已进入紧急状态到宣布stay-at-home这13天为一个片段，3月7日后13天和之前13天相比下降8.77
3月20日后13天和之前13天相比下降8.55
纽约的流动减少并没有随着stay-at-home有更进一步变化，只是逐步降低

In [ ]:
df_CA = df[df['state'] == 'CA']
df_CA

In [ ]:
df.loc[353:398,['date','state','num_devices']]

In [99]:
# 2/18 - 3/4
aa = df.loc[353:368,['num_devices']]
# 3/4 - 3/19
bb = df.loc[368:383,['num_devices']]
# 3/20 - 4/02
cc = df.loc[383:398,['num_devices']]

In [100]:
maa = pd.DataFrame.mean(aa)
mbb = pd.DataFrame.mean(bb)
mcc = pd.DataFrame.mean(cc)

In [101]:
(1-mbb/maa)*100

num_devices    9.787609
dtype: float64

In [102]:
(1-mcc/mbb)*100

num_devices    10.520362
dtype: float64

In [ ]:
做为对比，加州从3月4日进入紧急状态，到3月19日宣布进入紧急状态，
已这15天为一个片段，3月4日后15天和之前13天相比下降9.78, 3月4日后13天和之前15天相比进一步下降到10.52

In [106]:
%%HTML
<div class='tableauPlaceholder' id='viz1587100733936' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;NY_CA_Device_Num&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CA_15869272881740&#47;NY_CA_Device_Num' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;NY_CA_Device_Num&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1587100733936');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [ ]:
纽约不仅在州内高流动，也有大量人口流动到外州，导致周边的州随着纽约爆发后陆续爆发

In [107]:
%%HTML
<div class='tableauPlaceholder' id='viz1587101728117' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;NY_Surround_states&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CA_15869272881740&#47;NY_Surround_states' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CA&#47;CA_15869272881740&#47;NY_Surround_states&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1587101728117');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>